<%- include('../partials/boilerplate') %>

<div class='vetProfile' id='userVet'>
    <h3><%= data.vet.name %></h3>
    <p><%= data.vet.address %></p>
    <p><%= data.vet.phone %></p>
    <p><%= data.vet.url </p>
</div>

<%- include('../partials/end') %>